OpenAI
python-dotenv>=1.0.1
fastapi>=0.111.0
uvicorn[standard]>=0.30.0
pydantic
requests
mistralai
django
sentence_transformers
numpy
textstat
spacy
de_core_news_sm
en_core_web_sm
pypdf>=4.2.0
criteria
pypdf2
pytest
torch>=2.2.0,<2.3.0
comparator
fitz
pg8000
transformers>=4.44.0
reportlab
A4
optional
textdescriptives
analysis
readability
files
